body {
	background-color: #e6e6e6;
}
.navbar {
	background-color: #373b3e;
	color: #bec8d1;
	margin-bottom: 10px;
}
.nav-item a{
	color: #bec8d1;
}
#formation {
	background-color : #373b3e;
	padding : 2%;
	margin-bottom: 3%;
}

#experience {
	background-color : #373b3e;
	padding : 2%;
	margin-bottom: 3%;
}
#contact-conteneur {
	background-color : #373b3e;
	padding : 2%;
	margin-bottom: 3%;
}
#comp-categorie {
	background-color : #373b3e;
	padding : 2%;
	margin-bottom: 3%;
}
#pres-texte {
	background-color : #373b3e;
	padding : 2%;
	margin-bottom: 3%;
}
.progress-bar {
	background-color : #4285f4;
}
.navbar-toggler {
	border-color: rgb(255,255,255);	
}
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, .5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
#pres-desc {
	text-indent:2em
}
#pres-desc br{
	text-indent:2em
}
#maphoto {
	width: 500px;
	margin-bottom: 5px;
}